In [3]:
tab=int(input("Enter Table To Show :"))
print("\tTable of ",tab)
for i in range(1,11):
    print("\t",end=" ")
    print(tab,"*",i,"=",tab*i)

Enter Table To Show :2
	Table of  2
	 2 * 1 = 2
	 2 * 2 = 4
	 2 * 3 = 6
	 2 * 4 = 8
	 2 * 5 = 10
	 2 * 6 = 12
	 2 * 7 = 14
	 2 * 8 = 16
	 2 * 9 = 18
	 2 * 10 = 20

In [11]:
tab1=int(input("Enter Table To start  :"))
tab2=int(input("Enter Table To End :"))

for j in range(tab1,tab2+1):
    print("\tTable of ",j)
    for i in range(1,11):
        print("\t",end=" ")
        print(j,"*",i,"=",j*i)
    print("\n")

Enter Table To start  :2
Enter Table To End :5
	Table of  2
	 2 * 1 = 2
	 2 * 2 = 4
	 2 * 3 = 6
	 2 * 4 = 8
	 2 * 5 = 10
	 2 * 6 = 12
	 2 * 7 = 14
	 2 * 8 = 16
	 2 * 9 = 18
	 2 * 10 = 20


	Table of  3
	 3 * 1 = 3
	 3 * 2 = 6
	 3 * 3 = 9
	 3 * 4 = 12
	 3 * 5 = 15
	 3 * 6 = 18
	 3 * 7 = 21
	 3 * 8 = 24
	 3 * 9 = 27
	 3 * 10 = 30


	Table of  4
	 4 * 1 = 4
	 4 * 2 = 8
	 4 * 3 = 12
	 4 * 4 = 16
	 4 * 5 = 20
	 4 * 6 = 24
	 4 * 7 = 28
	 4 * 8 = 32
	 4 * 9 = 36
	 4 * 10 = 40


	Table of  5
	 5 * 1 = 5
	 5 * 2 = 10
	 5 * 3 = 15
	 5 * 4 = 20
	 5 * 5 = 25
	 5 * 6 = 30
	 5 * 7 = 35
	 5 * 8 = 40
	 5 * 9 = 45
	 5 * 10 = 50